.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navtitle {
    font-size: 32px;
    font-weight: 600;
}

ul {
    list-style: none;
    margin-block-start:2px;
    margin-block-end: 0;
    padding-inline-start: 0;
}

a {
    text-decoration: none;
    color: black;
}

.navmenu {
    display: flex;
    justify-content: center;
}

li {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}

@media(max-width:600px){
    .navtitle {
        font-size: 28px;
        font-weight: 500;
    }
    li {
        padding: 0px;
        font-size: 16px;
        margin: 5px;
    }
}